:root {
    --borders: 25px;
    --width: 400px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    padding: 3% 8%;
    padding-bottom: 0;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1vh;
}

.list-container {
    background-color: white;
    border-radius: var(--borders);
}


.list {
    height: 450px;
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece:start {
    margin-top: 30px;
}

::-webkit-scrollbar-track-piece:end {
    margin-bottom: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169);
    border-radius: 10px;
}

.name::-webkit-scrollbar-track-piece:start {
    margin-top: 10px;
}

.name::-webkit-scrollbar-track-piece:end {
    margin-bottom: 10px;
}

.scrollbar {
    width: 10px;
    height: 100%;
}

.item-container {
    width: 90%;
}

.item {
    flex-basis: 70px;
    max-height: 3.6em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    padding: 5%;
    scroll-snap-align: start;
}

.name {
    width: calc(100% - 50px);
    overflow-wrap: break-word;
    overflow-y: auto;
    max-height: 3.6em;
}

.invite {
    --lil-bit: 90px;
    width: calc(var(--width) + var(--lil-bit));
    height: 200px;
    position: absolute;
    bottom: -200px;
    left: calc(50vw - calc(var(--width) + var(--lil-bit)) / 2);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    animation: popup 10s linear;
}

.info {
    display: flex;
    width: 100%;
    height: calc(100% - 10px);
    padding: 5%;
    gap: 10%;
    justify-content: space-between;
    align-items: center;
}

.info > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 30%;
}

.invite-name {
    width: 70%;
    height: 100%;
    font-size: 1.8em;
    vertical-align: middle;
    overflow-wrap: break-word;
    overflow-y: auto;
    min-width: none;
}

.bar {
    width: 100%;
    height: 10px;
    animation: timer-bar 10s linear;
}

.accept, .deny {
    aspect-ratio: 1;
    height: 60px;
    transition: filter 0.5s;
}

.accept:hover, .deny:hover {
    filter: brightness(0.6);
}

.accept {
    background-color: lightgreen;
}

.deny {
    background-color: red;
}

.icon {
    aspect-ratio: 1;
    width: 80%;
}

div:has(> .username) {
    width: 100%;
    display: flex;
    justify-content: end;
}

.username {
    max-width: calc(100% - 100px);
    overflow-wrap: break-word;
}

.search {
    width: var(--width);
    height: 50px;
    border: none;
    padding-left: 35px;
    border-radius: var(--borders);
}

.search-container {
    height: 50px;
    display: flex;
    align-items: center;
}

.search-container > img {
    height: 20px;
    position: absolute;
    left: calc(50vw - 190px);
}

.magnify {
    position: absolute;
    height: 25px;
    top: 145px;
    left: 200px;
}

@keyframes timer-bar {
    0% {
        background-color: rgb(0, 255, 0);
        width: 100%;
    }

    100% {
        background-color: red;
        width: 0%;
    }
}

@keyframes popup {
    0% {
        transform: translateY(0);
    }
    1% {
        transform: translateY(-220px);
    }
    99% {
        transform: translateY(-220px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width : 500px) {
    :root {
        --width: 300px;
    }

    .invite {
        --lil-bit: 40px
    }

    .invite-name {
        font-size: 1em;
        align-items: start;
    }

    .info > span {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .accept, .deny {
        height: auto;
        width: 60px;
    }

    .list {
        width: var(--width);
        height: 350px;
        border-radius: 25px;
    }

    .search-container {
        width: var(--width);
    }

    .search-container > img {
        left: calc(50vw - 140px);
    }
}